
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
}
 
   .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    }
     
    .navbar a{
        position: relative;
        font-size: 1.1rem;
        color: white;
        text-decoration: none;
        left: -220px;
        margin-left:20px ;
    }
    
    .navbar a::before{
    
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background-color: white;
        transition: .6s;
        }
        
        .navbar a:hover::before{
        width: 100%;
        }
      
    
        .logo img{
           position: relative;
            left: -56px;
            width: 235px;
            height: 55px;
        }
    .icons{
        position: absolute;
        font-size: 2.6rem;
        right: 16%;
        color: white;
        cursor: pointer;
        display: none;
     }   
     #fb:hover {
        color: rgb(4, 79, 177);
        cursor: pointer;
    }
    
    #ig:hover {
        color: rgb(133, 6, 48);
        cursor: pointer;
    }
    
    #fb {
        color: rgb(240, 240, 245);
    
    }
    
    #ig {
        color: rgb(240, 240, 245);
    
    }
    
    #tw {
        color: rgb(240, 240, 245);
    
    }
    
    #tw:hover {
    
        color: rgb(41, 124, 233);
        cursor: pointer;
    }
    #ig:hover::before,#fb:hover::before,#tw:hover::before{
        width: 0;
    }
    
    #ourclients::before{
    
       width: 100%;
      
    }
    
    
    
    .navbar-color{
       background-color:#010916;
       transition: .15s;
    }
     #check
     {
        display: none;
     }
     .header::before{
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.275);
    backdrop-filter: blur(100px);
    z-index: -1;
     }
     @media(max-width:1100px){
        .header{
            padding: 1.3rem 5%;
        }
     }
     @media(max-width:600px){
        .navbar {
            position: relative;
            padding-left: 175px;
        }
        .logo img{
          
            left: -70px;
        }
     }
    
      
     @media(max-width:1084px){
        .icons{
             display: inline-flex;
        }
        .logo img{
            left: 40px;
            width: 190px;
            height:45px ;
        }
        .navbar a:hover::before{
            width: 0;
            }
        #check:checked~.icons #menu-icon{
            display: none;
        }
    
        .icons #close-icon{
            display: none;
        }
    #check:checked~.icons #close-icon{
            display: block;
        }
        #ourclients::before{
    
            width:  0 ;
           
         }
    
        .navbar{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 0; 
            background-color: #12141858;
            backdrop-filter: blur(120px);
            transition: .3s ease;
            overflow: hidden;
            
        }
        #check:checked~.navbar{
            height: 24.5rem;
        }
        .navbar a{
            display: block;
            font-size: 1.1rem;
            margin: 1.3rem 0;
            text-align: center;
        } 
     }
     @media(max-width:321px){
        
        .logo img{
            width: 155px;
            height:40px ;
            left: -15px;
        }
     }

 #oc{
   
    margin-top: -380px;
    position: relative;
    font-family: sans-serif;
    font-weight: 400;
    /* top: -580px; */
    color: rgba(2, 41, 67, 0.718);
    text-align: center;
    font-size: 60px;
    animation: fadeIn 5s;
 }
 @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


  

     .container {
        position: relative;
        /* margin-top: 200px; */
        margin-bottom: 20px;
        margin-left:90px ;
        display: flex;
        flex-wrap: wrap;
     }
     .container .box{
         border-radius: 3px;
         width: 300px;
         flex-wrap: wrap;
         height: 170px;
         align-items: center;
         margin-left: 30px;
         margin-top: 10px;
         border-bottom: 2px solid rgba(94, 148, 185, 0.422);
         animation: 6s;
     }
     
     .bodyimage img  {
        position: relative;
        top: -400px;
       background-color: #b6b7b89f;
        width: 100%;
        height:auto;
       
        z-index: 100;
         
    }
.container .box:hover{
position: relative;
top: -20px;
}


/* logos */
.swedy{
    position: relative;
    top: 23px;
    left: 34px;
}
#track{
    position: relative;
    width: 400px;
    margin-top: -20px;
   left: -45px;
}
#alpha{
    position: relative;
    left: 50px;
}
#sia{
    position: relative;
    width: 260px;
    top: 30px;
    left: 35px; 
}
#vida{
    position: relative;
    top: 36px;
    left: 50px;
}
#gezira{
    position: relative;
    width: 200px;
    top: -34px;
    left: 50px;
    
}
#rich{
    position: relative;
     
    left: 40px;
}

#human{
    position: relative;
    width: 270px;
    top: -53px;
    left: 20px;
}
#gled{
    position: relative;
     width: 160px;
     top: 40px;
    left: 50px;
}
#egy{
    position: relative;
    width: 250px;
    top: 33px;
    left: 20px;
}
#ilnero{
    position: relative;
 
    top: -18px;
    left: 40px;
}
#alex{
    position: relative;
    width: 200px;
    top: -20px;
    left: 40px;
}

#hasan{
    width: 170px;
    margin-top: -24px;
    padding: 55px;
}
#ridge{
    width: 200px;
    margin-top: -40px;
    padding: 50px; 
}
#elkasr{
    width: 170px;
    margin-top: -20px;
    padding: 55px;
}
#gz{
    width: 170px;
    margin-top: -30px;
    padding: 55px;
}

#gest{
    position: relative;
    width: 140px;
    top: -30px;
    padding: 55px;
}
#seha{
    width: 180px;
    
    padding: 55px;
}
#siena{
    width: 200px;
  
    padding: 55px;
}
#astrazenca{
    width: 200px;
   
    padding: 55px;
}
#fawater{
    width: 170px;
    margin-top: -30px;
    padding: 55px;
}
#city{
    width: 170px;
    margin-top: -24px;
    padding: 55px;
}
#quick{
    position: relative;
    width: 180px;  
    top: 20px;
    left: 50px;
    /* padding: 55px; */
}
#gzera{
    width: 200px;
    margin-top: -60px;
    padding: 55px;
}
#gomla{
    width: 200px;
    margin-top: 20px;
    margin-left: 40px;
}
#urc{
    width: 240px;
    margin-top: 36px;
    margin-left: 34px;   
}
#manazel{
    width: 154px;
    margin-top: 36px;
    margin-left: 60px;   
}
#aswar{
    width: 120px;
    margin-top: 36px;
    margin-left: 80px;
}
#kwik{
    width: 230px;
    margin-top: -30px;
    margin-left: 35px;
}
#express{
    width: 230px;
    margin-top: 50px;
    margin-left: 35px;
}
#fedex{
    width: 160px;
    margin-top: 60px;
    margin-left: 60px;
}


.img{
    width: 200px;
}





     /* footer */

.fcontainer {
    background-color: #000000;
    margin: auto;
 
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: white;
    margin: 0;
    
    padding: 0;
    box-sizing: border-box;
 
}

.f-col ul {
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

.f-col {
    color: white;
    width: 25%;
    padding: 10px 15px;
    padding-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

.f-col h3 {
    font-size: 18px;
    font-family: 'Zapf';
    color: white;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 32px;
    position: relative;
}

/* 3lshan a3ml Line taht el h3 */
.f-col h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:  rgb(41, 124, 233);
    height: 2px;
    width: 50px;
}

.f-col ul li {
    margin-bottom: 10px;
}

.f-col ul li a {
    text-decoration: none;
    color: #bbbbbb;
    /* transition 3lshan el hover */
    transition: all 0.3s ease;
}

.f-col ul li a:hover {
    color: white;
    padding-left: 8px;
}

.f-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.f-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.f-col .social-links a p {
    padding: 10px;
}

.social-links a i{

margin-top: 8px;
}

#footertwitter:hover {

    color: rgb(41, 124, 233);
}
#footertig:hover {

    color: rgb(133, 6, 48);
}
#footerfb:hover {

    color: rgb(41, 124, 233);
}
@media(max-width: 1080) {
    .f-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .f-col {
        width: 100%;
    }

}

@media(max-width: 900px) {
    .bodyimage img{
        margin-top: 280px;
    }

}

@media(max-width: 500px) {
    
    .container {
        position: relative;
        margin-right: 10px;
    } 
}

@media(max-width: 540px) {
    
    .box {
        width: 250px;
        flex-wrap: wrap;
        height: 120px;

        position: relative;
        left: -25px;
    } 
}
@media(max-width: 512px) {
    
    .box {
        width:190px;
        flex-wrap: wrap;
        height: 100px;

        position: relative;
        left: -25px;
    } 
}
